
/* App.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    border-radius: 16px;
}

h1 {
    text-align: center;
    color: #333;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.InputArea {
    margin: 20px;
    align-items: center;
}

button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 999px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #218838;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    margin: 10px 0;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
}

li h2 {
    margin: 0;
    color: #333;
}

li p {
    margin: 5px 0 0;
    color: #666;
}

li button {
    background-color: #dc3545;
}

li button:hover {
    background-color: #c82333;
}
